.logo-footer {
    color: var(--mtitle-hovbtn);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 20px;
}

.footer {
    background-color: var(--bcg-footer-msec);
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.footer-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-list-link__link {
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.follow-input {
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--mtitle-hovbtn);
    padding-left: 16px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--hov-nav-contacts);
        outline: none;
    }

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
}

.follow-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-title-link {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.address-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



//--===============================0-768px================================--//
@media screen and (max-width: 767px) {
    .footer-nav-address {
        margin-bottom: 60px;
    }

    .social {
        margin-bottom: 60px;
    }
}

//--===============================767px-1199px================================--//
@media screen and (min-width: 768px) {
    .follow-input {
        width: 450px;
    }

    .footer-wrapper {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    .container-footer {
        width: 602px;
    }
}

//--===============================1199px-``================================-- //
@media screen and (min-width: 1200px) {
    .footer {
        text-align: left;
    }
    
    .container-footer {
        width: 1200px;
        display: flex;
        align-items: baseline;
    }

    .footer-wrapper {
        margin-bottom: 0;
    }

    .follow-input {
        width: 358px;
        margin-bottom: 0;
        margin-right: 12px;
    }
    
    .footer-nav-address {
        margin-right: 70px;
    }

    .footer-wrapper {
        margin-right: 93px;
    }

    .follow-footer {
        flex-direction: row;
    }
}