.hero {
    background-color: var(--hero-bg);
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__section {
    width: 360px;
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 479px) {
    .hero__section {
        width: 320px;
    }
}

//--===============================0-768px================================--//
@media screen and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero/Hero-img.jpg);
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../images/mobile/hero/Hero-img@2x.jpg);
            }
        }
}

//--===============================767px-1199px================================--//
@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/tablet/hero/Hero-img.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/tablet/hero/Hero-img@2x.jpg);
        }
    }
}

//--===============================1199px-``================================-- //
@media screen and (min-width: 1199px) {
    .hero {
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/desktop/hero/Hero-img.jpg);
    }

    .hero__section {
        width: 696px;
    }
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/desktop/hero/Hero-img@2x.jpg);
        }
    }
}