.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.advantage-list__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text);
}

//--===============================0-768px================================--//
@media screen and (max-width: 767px) {
    .advantage-list__icons {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bcg-btn);
        padding-top: 25px;
        padding-bottom: 25px;
        border-radius: 4px;
        margin-bottom: 30px;
    }
    
    .title-three {
        text-align: center;
    }
    
    .advantage-list__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

//--===============================767px-1199px================================--//
@media screen and (min-width: 768px) {
    .advantage-list {
        display: flex;
        flex-wrap: wrap;
    }

    .advantage-list__icons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 354px;
        height: 120px;
        background-color: var(--bcg-btn);
        border-radius: 4px;
        margin-bottom: 30px;
    }

    .advantage-list__wrapper {
        width: 354px;
    }

    .advantage-list__item:not(:nth-child(2n)) {
        margin-right: 29px;
    }
}

//--===============================1199px-``================================-- //
@media screen and (min-width: 1199px) {
    .section {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .advantage-list__icons {
        width: 270px;
    }

    .advantage-list__wrapper {
        width: 270px;
    }
    
    .advantage-list__item:not(:last-child) {
        margin-right: 29px;
    }
}