//--===============================0-768px================================--//
@media screen and (min-width: 480px) {
    .section-three {
        display: none;
    }
}

//--===============================767px-1199px================================--//
@media screen and (min-width: 768px) {
    .section-three {
        display: none;
    }
}

//--===============================1199px-``================================-- //
@media screen and (min-width: 1200px) {
    .section-three {
        display: block;
        padding-bottom: 94px;
    }
    
    .photo-list {
        display: flex;
    }
    
    .photo-list__item:not(:last-child) {
        margin-right: 30px;
    }
    
    .thumb {
        position: relative;
    }
}