.btn-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.card-list {
    display: block;
}

.cases {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.card-list-item-wrapper {
    display: block;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
        cursor: pointer;
    }

    &:hover .overlay,
    &:focus .overlay {
        transform: translateY(0%);
    }
}

.card-list-item:not(:last-child) {
    margin-bottom: 30px;
}

.market {
    padding-top: 90px;
    padding-bottom: 98px;
}

@media screen and (max-width: 767px) {
    .btn-list-item {
        &:not(:last-child) {
            margin-right: 8px;
        }

        &:nth-child(-n + 3) {
            margin-bottom: 15px;
        }
    }
}

@media screen and (min-width: 768px) {
    .btn-list-item:not(:last-child) {
        margin-right: 8px;
    }

    .btn-list {
        justify-content: center;
    }

    .card-list-item {
        width: 354px;
    }

    .card-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .first-case {
        padding-bottom: 56px;
    }
}

@media screen and (min-width: 1200px) {
    .btn-list {
        margin-bottom: 50px;
    }

    .card-list-item {
        width: 370px;
    }

    .first-case {
        padding-bottom: 20px;
    }

    .card-list-item:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
}





// .card-list-item:not(:nth-child(3n)) {
//     margin-right: 30px;
// }

// .card-list-item:not(:nth-last-child(-n + 3)) {
//     margin-bottom: 30px;
// }

