@media screen and (max-width: 767px) {
.list-partners__logo {
    &:not(:nth-child(2n)) {
        margin-right: 30px;
    }

    &:nth-child(-n + 4) {
        margin-bottom: 30px;
    }
}
}

.list-partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

