.one {
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    min-width: 73px;
}

.two {
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    min-width: 128px;
}

.three {
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    min-width: 145px;
}

.four {
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    min-width: 103px;
}

.five {
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    min-width: 130px;
}

.market {
    padding-top: 90px;
    padding-bottom: 98px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
}

.card-list-item-wrapper {
    display: block;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
        cursor: pointer;
    }

    &:hover .overlay,
    &:focus .overlay {
        transform: translateY(0%);
    }
}

.card-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.card-list-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.cases {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}

.wrapper {
    position: relative;
    overflow: hidden;
}