.section {
    padding-top: 60px;
    background-color: var(--background-color-section-two);
    padding-bottom: 60px;
}

.advantage-list__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bcg-btn);
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.title-three {
    text-align: center;
}

.advantage-list__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--text);
}

.advantage-list__item:not(:last-child) {
    margin-bottom: 30px;
}






// .section {
//     padding-top: 94px;
//     padding-bottom: 94px;
// }

// .advantage-list {
//     display: flex;
// }

// .advantage-list__item {
//     width: 270px;

//     &:not(:last-child) {
//         margin-right: 30px;
//     }
// }

// .advantage-list__icons {
//     width: 270px;
//     height: 120px;
//     margin-bottom: 30px;
//     border-radius: 4px;
//     background-color: var(--bcg-btn);
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }