:root {
    --text: #757575;
    --title-nav-btn: #212121;
    --hov-nav-contacts: #2196f3;
    --mtitle-hovbtn: #ffffff;
    --bcg-mbtn: #2196f3;
    --bcg-mbtn-hov: #188ce8;
    --bcg-btn: #f5f4fa;
    --bcg-btn-hov: #2196f3;
    --bcg-footer-msec: #2f303a;
    --footer-contacts: rgba(255, 255, 255, 0.6);
    --team-links-hover: #afb1b8;
    --hero-bg: #c4c4c4;
    --logo-color-header: #000000;
}